    
 <div class = "contenedor-formu">
    <form class = "miformu1">
        <!-- Nombre input -->
        <h2 class = "registrate">Registrate</h2>
        <hr style="border:2px;">

        <div class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" placeholder="Nombre"/>
        <label class="form-label" for="form1Example1"></label>
        </div>
    
        <!-- Apellido input -->
        <div class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" placeholder="Apellido"/>
        <label class="form-label" for="form1Example2"></label>
        </div>

        <!-- Correo input -->
        <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" placeholder="Correo"/>
            <label class="form-label" for="form1Example2"></label>
            </div>

        <!-- Contraseña input -->
        <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" placeholder="Contraseña"/>
            <label class="form-label" for="form1Example2"></label>
            </div>
    
        <!-- Submit button -->

            <button type="submit" id= "miboton1" class="btn btn-success">Registrarse</button>
      

    </form>
</div>
