    
 <div class = "contenedor-formu">
    <form class = "miformu1">
        <!-- Nombre input -->
        <h2 class = "registrate">Registrate</h2>
        <hr style="border:2px;">

        <div class="form-outline mb-4">
            <input type="text" id="form1Example1" class="form-control" placeholder="Nombre" #input1/>
            <label class="form-label" for="form1Example1"></label>
        </div>
    
        <!-- Apellido input -->
        <div class="form-outline mb-4">
            <input type="text" id="form1Example2" class="form-control" placeholder="Apellido" #input2/>
            <label class="form-label" for="form1Example2"></label>
        </div>

        <!-- Correo input -->
        <div class="form-outline mb-4">
            <input type="text" id="form1Example3" class="form-control" placeholder="Correo" #input3/>
            <label class="form-label" for="form1Example2"></label>
        </div>


        <!-- URL input -->
        <div class="form-outline mb-4">
            <input type="text" id="form1Example4" class="form-control" placeholder="Url" #input4/>
            <label class="form-label" for="form1Example2"></label>
        </div>

        <!-- Contraseña input -->
        <div class="form-outline mb-4">
            <input type="password" id="form1Example5" class="form-control" placeholder="Contraseña" #input5/>
            <label class="form-label" for="form1Example2"></label>
        </div>

        <!-- Repita Contraseña input -->
        <div class="form-outline mb-4">
            <input type="password" id="form1Example6" class="form-control" placeholder="Repita Contraseña" #input6/>
            <label class="form-label" for="form1Example2"></label>
        </div>
    
        <!-- Submit button -->
        <button type="reset" id= "miboton1" on-click = registerUser(input1,input2,input3,input4,input5,input6) class="btn btn-success">Registrarse</button>
        <!-- <button type="submit" id= "miboton1" class="btn btn-success">Registrarse</button> -->
    </form>
</div>
 
 
 
 
 <!-- <div class = "contenedor-formu"> -->
    <!-- <form class = "miformu1">
        Nombre input
        <h2 class = "registrate">Registrate</h2>
        <hr style="border:2px;"> --> 

        <!-- <div class="form-outline mb-4">
            <input type="text" id="form1Example1" class="form-control" placeholder="Nombre" #input1/>
            <label class="form-label" for="form1Example1"></label>
        </div>
     -->
        <!-- Apellido input -->
        <!-- <div class="form-outline mb-4">
            <input type="text" id="form1Example2" class="form-control" placeholder="Apellido" #input2/>
            <label class="form-label" for="form1Example2"></label>
        </div> -->

        <!-- Correo input -->
        <!-- <div class="form-outline mb-4">
            <input type="text" id="form1Example3" class="form-control" placeholder="Correo" #input3/>
            <label class="form-label" for="form1Example2"></label>
        </div> -->


        <!-- URL input -->
        <!-- <div class="form-outline mb-4">
            <input type="text" id="form1Example4" class="form-control" placeholder="Url" #input4/>
            <label class="form-label" for="form1Example2"></label>
        </div> -->

        <!-- Contraseña input -->
        <!-- <div class="form-outline mb-4">
            <input type="password" id="form1Example5" class="form-control" placeholder="Contraseña" #input5/>
            <label class="form-label" for="form1Example2"></label>
        </div> -->

        <!-- Repita Contraseña input -->
        <!-- <div class="form-outline mb-4">
            <input type="password" id="form1Example6" class="form-control" placeholder="Repita Contraseña" #input6/>
            <label class="form-label" for="form1Example2"></label>
        </div> -->
    
        <!-- Submit button -->

        <!-- <button type="reset" id= "miboton1" on-click = registerUser(input1,input2,input3,input4,input5,input6) class="btn btn-success">Registrarse</button> -->
        <!-- <button type="submit" id= "miboton1" class="btn btn-success">Registrarse</button> -->
    <!-- </form> -->
<!-- </div> -->
