

.contenedor-formu{ 
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 5%;

}

.miformu1 {
    border: 2px solid darkgray;
    border-radius: 2%;
    width: 250px;
    margin-bottom:  5%;
    padding: 1%;
}

.registrate {
    text-align: center;
    justify-content: center;
}

input::placeholder {
    text-align: center;
}


.linea1 {
    font-weight: bold;
}


.btn {
    float: none;
    margin-left: 25%;
    margin-top: 25%;
}

/* #miboton1 { 
    float: none;
    margin-left: 45%;

} */